version: '3.8'

services:
  bot:
    build: .
    container_name: quicklunch-bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
      - ./exports:/app/exports
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"




